#########################
# Node.js
#########################

app/node_modules/
npm-debug.log*

#########################
# Terraform
#########################

terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/crash.log
terraform/terraform.tfvars

#########################
# OS
#########################

.DS_Store
Thumbs.db

#########################
# VS Code
#########################

.vscode/

#########################
# Logs
#########################

*.log

#########################
# Bootstrap Terraform
#########################

bootstrap/.terraform/
bootstrap/*.tfstate
bootstrap/*.tfstate.*
bootstrap/crash.log
bootstrap/terraform.tfvars